.venv
.vscode
.DS_Store
.idea
.pytest_cache
.ruff_cache
.mypy_cache
.tox
.coverage
.coverage.*
.coverage.xml
.coverage.json
__pycache__
*.pyc
*.pyo
*.pyd

vault/

# Temporary/test scripts
is_everything_ok.sh
